In [1]:
import pandas as pd
import json

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [2]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)

In [3]:
# Iterate through the backers DataFrame and convert each row to a dictionary.

    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    
    # Append the list of values for each row to a list. 
    

# Print out the list of values for each row.

In [4]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists.

In [5]:
# Export the DataFrame as a CSV file using encoding='utf8'.

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

In [6]:
# Get the backers_info from the crowdfunding_info sheet.
pd.set_option('max_colwidth', 400)
backers_info = pd.read_csv('backer_info.csv')
backers_info

                                                                                             backer_info
0           {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1           {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2             {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3     {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4                  {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}
...                                                                                                  ...
8170     {"backer_id": "st581", "cf_id": 65, "name": "Serita Thebault", "email": "sthebault@yandex.com"}
8171    {"backer_id": "gf637", "cf_id": 563, "name": "Glenn Foerstner", "email": "gfoerstner@yahoo.com"}
8172        {"backer_id": "rc983", "cf_id": 1114, "name": "Robt Collin", "email": "rcollin@outlook.com"}
8173          {"backer_id": "cz381", "cf_id": 65, "name": "Corina Zappa", "email": "czappa@outlook.com"}
8174         {"backer_id": "fg535", "cf_id": 65, "name": "Freeman Gibbs", "email": "fgibbs@outlook.com"}

[8175 rows x 1 columns]

In [7]:
# Import the regular expression module.
import re

# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression 
# and add it as a new column called "backer_id".
backers_info['backer_id'] = backers_info['backer_info'].str.extract(r'(\D{2}\d{3})')
backers_info.head()

,backer_info,backer_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506

In [8]:
# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".
backers_info['cf_id'] = backers_info['backer_info'].str.extract(r'(\s\d{2,4})')
backers_info.head()

,backer_info,backer_id,cf_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563

In [9]:
# Extract the name from the backer_info column and add it as a new column called "name".
backers_info['name'] = backers_info['backer_info'].str.extract(r'([^name"\s+][A-Za-z]+\s+[A-Za-z]+)')
#(r'(\s\D{2,})')
backers_info.head()

,backer_info,backer_id,cf_id,name
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968,Angelo Vincent
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563,Hubert Arnold
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65,Loris Goulet
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563,Teodora Brunelli
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563,Lexie Hunt

In [10]:
# Extract the email from the backer_info column and add it as a new column called "email".
backers_info['email'] = backers_info['backer_info'].str.extract(r'(\w+@\w+\D+\w)')
backers_info.head(30)

,backer_info,backer_id,cf_id,name,email
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968,Angelo Vincent,avincent@live.com
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563,Hubert Arnold,harnold@yandex.com
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65,Loris Goulet,lgoulet@yandex.com
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563,Teodora Brunelli,tbrunelli@outlook.com
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563,Lexie Hunt,lhunt@live.com
5,"{""backer_id"": ""lh382"", ""cf_id"": 563, ""name"": ""Lambert Huber"", ""email"": ""lhuber@live.com""}",lh382,563,Lambert Huber,lhuber@live.com
6,"{""backer_id"": ""em444"", ""cf_id"": 563, ""name"": ""Emmy Morin"", ""email"": ""emorin@live.com""}",em444,563,Emmy Morin,emorin@live.com
7,"{""backer_id"": ""at582"", ""cf_id"": 1572, ""name"": ""Armonda Trani"", ""email"": ""atrani@live.com""}",at582,1572,Armonda Trani,atrani@live.com
8,"{""backer_id"": ""id772"", ""cf_id"": 1911, ""name"": ""Ilana Duke"", ""email"": ""iduke@outlook.com""}",id772,1911,Ilana Duke,iduke@outlook.com
9,"{""backer_id"": ""lw275"", ""cf_id"": 65, ""name"": ""Leigha Wright"", ""email"": ""lwright@live.com""}",lw275,65,Leigha Wright,lwright@live.com
10,"{""backer_id"": ""ub509"", ""cf_id"": 65, ""name"": ""Uwe Becker"", ""email"": ""ubecker@yahoo.com""}",ub509,65,Uwe Becker,ubecker@yahoo.com
11,"{""backer_id"": ""ha915"", ""cf_id"": 1572, ""name"": ""Hawa Audy"", ""email"": ""haudy@gmail.com""}",ha915,1572,Hawa Audy,haudy@gmail.com
12,"{""backer_id"": ""bb881"", ""cf_id"": 968, ""name"": ""Bia Bonura"", ""email"": ""bbonura@yahoo.com""}",bb881,968,Bia Bonura,bbonura@yahoo.com
13,"{""backer_id"": ""mg332"", ""cf_id"": 65, ""name"": ""Michel Garner"", ""email"": ""mgarner@protonmail.com""}",mg332,65,Michel Garner,mgarner@protonmail.com
14,"{""backer_id"": ""kd700"", ""cf_id"": 1572, ""name"": ""Karole Dunn"", ""email"": ""kdunn@yahoo.com""}",kd700,1572,Karole Dunn,kdunn@yahoo.com
15,"{""backer_id"": ""as695"", ""cf_id"": 563, ""name"": ""Arndt Schreiber"", ""email"": ""aschreiber@yahoo.com""}",as695,563,Arndt Schreiber,aschreiber@yahoo.com
16,"{""backer_id"": ""iv513"", ""cf_id"": 65, ""name"": ""Imen Villeneuve"", ""email"": ""ivilleneuve@yahoo.com""}",iv513,65,Imen Villeneuve,ivilleneuve@yahoo.com
17,"{""backer_id"": ""ab842"", ""cf_id"": 65, ""name"": ""Alcina Bonadonna"", ""email"": ""abonadonna@yandex.com""}",ab842,65,Alcina Bonadonna,abonadonna@yandex.com
18,"{""backer_id"": ""re181"", ""cf_id"": 1114, ""name"": ""Raelene Espinoza"", ""email"": ""respinoza@outlook.com""}",re181,1114,Raelene Espinoza,respinoza@outlook.com
19,"{""backer_id"": ""kn133"", ""cf_id"": 65, ""name"": ""Kati Nash"", ""email"": ""knash@protonmail.com""}",kn133,65,Kati Nash,knash@protonmail.com
20,"{""backer_id"": ""gj893"", ""cf_id"": 65, ""name"": ""Georg Jager"", ""email"": ""gjager@yahoo.com""}",gj893,65,Georg Jager,gjager@yahoo.com
21,"{""backer_id"": ""vp915"", ""cf_id"": 948, ""name"": ""Virgilio Paolella"", ""email"": ""vpaolella@gmail.com""}",vp915,948,Virgilio Paolella,vpaolella@gmail.com
22,"{""backer_id"": ""ja995"", ""cf_id"": 563, ""name"": ""Jerrica Avila"", ""email"": ""javila@protonmail.com""}",ja995,563,Jerrica Avila,javila@protonmail.com
23,"{""backer_id"": ""ga249"", ""cf_id"": 563, ""name"": ""Gianni Achterberg"", ""email"": ""gachterberg@live.com""}",ga249,563,Gianni Achterberg,gachterberg@live.com
24,"{""backer_id"": ""td403"", ""cf_id"": 65, ""name"": ""Timoteo Dion"", ""email"": ""tdion@gmail.com""}",td403,65,Timoteo Dion,tdion@gmail.com
25,"{""backer_id"": ""tv463"", ""cf_id"": 1572, ""name"": ""Teodoro Verno"", ""email"": ""tverno@yandex.com""}",tv463,1572,Teodoro Verno,tverno@yandex.com
26,"{""backer_id"": ""mw606"", ""cf_id"": 65, ""name"": ""Morris Waller"", ""email"": ""mwaller@protonmail.com""}",mw606,65,Morris Waller,mwaller@protonmail.com
27,"{""backer_id"": ""hc648"", ""cf_id"": 65, ""name"": ""Hans Chen"", ""email"": ""hchen@yandex.com""}",hc648,65,Hans Chen,hchen@yandex.com
28,"{""backer_id"": ""ta379"", ""cf_id"": 563, ""name"": ""Trilby Auer"", ""email"": ""tauer@yahoo.com""}",ta379,563,Trilby Auer,tauer@yahoo.com
29,"{""backer_id"": ""tj583"", ""cf_id"": 1572, ""name"": ""Theola Jodoin"", ""email"": ""tjodoin@yandex.com""}",tj583,1572,Theola Jodoin,tjodoin@yandex.com

In [11]:
# Create a new DataFrame with the appropriate columns.
backers_df = pd.DataFrame(backers_info, columns =['backer_id', 'cf_id', 'name', 'email'])
backers_df.head(10)

  backer_id  cf_id              name                  email
0     av166    968    Angelo Vincent      avincent@live.com
1     ha127    563     Hubert Arnold     harnold@yandex.com
2     lg794     65      Loris Goulet     lgoulet@yandex.com
3     tb566    563  Teodora Brunelli  tbrunelli@outlook.com
4     lh506    563        Lexie Hunt         lhunt@live.com
5     lh382    563     Lambert Huber        lhuber@live.com
6     em444    563        Emmy Morin        emorin@live.com
7     at582   1572     Armonda Trani        atrani@live.com
8     id772   1911        Ilana Duke      iduke@outlook.com
9     lw275     65     Leigha Wright       lwright@live.com

In [12]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backers_df.to_csv('backers_deliverable1_df.csv', index=False, encoding= 'utf8')

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [13]:
# Check data types.
backers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   backer_id  8175 non-null   object
 1   cf_id      8175 non-null   object
 2   name       8175 non-null   object
 3   email      8175 non-null   object
dtypes: object(4)
memory usage: 255.6+ KB

In [14]:
# Convert cf_id to an integer if necessary.
backers_df['cf_id'] = backers_info['cf_id'].astype(object).astype(int) #integer 64? not 32
backers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   backer_id  8175 non-null   object
 1   cf_id      8175 non-null   int32
 2   name       8175 non-null   object
 3   email      8175 non-null   object
dtypes: int32(1), object(3)
memory usage: 223.7+ KB

In [15]:
# Split the "name" column into "first_name" and "last_name" columns.
backers_df[["first_name","last_name"]] = backers_info["name"].str.split(' ', n=1, expand=True)
backers_df.head()

,backer_id,cf_id,name,email,first_name,last_name
0,av166,968,Angelo Vincent,avincent@live.com,Angelo,Vincent
1,ha127,563,Hubert Arnold,harnold@yandex.com,Hubert,Arnold
2,lg794,65,Loris Goulet,lgoulet@yandex.com,Loris,Goulet
3,tb566,563,Teodora Brunelli,tbrunelli@outlook.com,Teodora,Brunelli
4,lh506,563,Lexie Hunt,lhunt@live.com,Lexie,Hunt

In [16]:
#  Drop the name column
backers_df_clean = backers_df.drop(['name'], axis=1)
backers_df_clean.head(10)

# Reorder the columns
backers_df_clean = pd.DataFrame(backers_df_clean, columns =['backer_id', 'cf_id', 'first_name','last_name', 'email'])
backers_df_clean.head(10)

  backer_id  cf_id first_name last_name                  email
0     av166    968     Angelo   Vincent      avincent@live.com
1     ha127    563     Hubert    Arnold     harnold@yandex.com
2     lg794     65      Loris    Goulet     lgoulet@yandex.com
3     tb566    563    Teodora  Brunelli  tbrunelli@outlook.com
4     lh506    563      Lexie      Hunt         lhunt@live.com
5     lh382    563    Lambert     Huber        lhuber@live.com
6     em444    563       Emmy     Morin        emorin@live.com
7     at582   1572    Armonda     Trani        atrani@live.com
8     id772   1911      Ilana      Duke      iduke@outlook.com
9     lw275     65     Leigha    Wright       lwright@live.com

In [17]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backers_df_clean.to_csv('backers.csv', encoding='utf-8')